---
layout: ""
page_title: "Connector Instance Parameter Reference"
description: |-
  The guide describes the connection parameters for all connectors in the DaVinci platform, with examples of how to define within Terraform using the `pingone_davinci_connector_instance` resource.
---

# DaVinci Connection Instance Definitions

Below is a list of all available DaVinci Connections available for use in the `pingone_davinci_connector_instance` resource. 
If the `value` type of a property is not defined it must be inferred.


## 1Kosmos connector

Connector ID (`connector.id` in the resource): `connector1Kosmos`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector1Kosmos.tf") }}


## AWS Lambda

Connector ID (`connector.id` in the resource): `connectorAWSLambda`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAWSLambda.tf") }}


## AWS Login

Connector ID (`connector.id` in the resource): `awsIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/awsIdpConnector.tf") }}


## AWS Secrets Manager

Connector ID (`connector.id` in the resource): `connectorAmazonAwsSecretsManager`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAmazonAwsSecretsManager.tf") }}


## AbuseIPDB

Connector ID (`connector.id` in the resource): `connectorAbuseipdb`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAbuseipdb.tf") }}


## ActiveCampaign API

Connector ID (`connector.id` in the resource): `connector-oai-activecampaignapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-activecampaignapi.tf") }}


## Acuant

Connector ID (`connector.id` in the resource): `connectorAcuant`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAcuant.tf") }}


## Adobe Experience Manager

Connector ID (`connector.id` in the resource): `adobeExperienceManagerConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/adobeExperienceManagerConnector.tf") }}


## Adobe Marketo

Connector ID (`connector.id` in the resource): `adobemarketoConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/adobemarketoConnector.tf") }}


## Akamai Account Protector

Connector ID (`connector.id` in the resource): `akamaiApConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/akamaiApConnector.tf") }}


## Akamai MFA

Connector ID (`connector.id` in the resource): `akamaiConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/akamaiConnector.tf") }}


## Allthenticate

Connector ID (`connector.id` in the resource): `connectorAllthenticate`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAllthenticate.tf") }}


## Amazon DynamoDB

Connector ID (`connector.id` in the resource): `connectorAmazonDynamoDB`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAmazonDynamoDB.tf") }}


## Amazon Simple Email Service

Connector ID (`connector.id` in the resource): `amazonSimpleEmailConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/amazonSimpleEmailConnector.tf") }}


## Annotation

Connector ID (`connector.id` in the resource): `annotationConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/annotationConnector.tf") }}


## Apple Login

Connector ID (`connector.id` in the resource): `appleConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/appleConnector.tf") }}


## Argyle

Connector ID (`connector.id` in the resource): `argyleConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/argyleConnector.tf") }}


## Asignio

Connector ID (`connector.id` in the resource): `connectorAsignio`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAsignio.tf") }}


## AuthID

Connector ID (`connector.id` in the resource): `connectorAuthid`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAuthid.tf") }}


## AuthenticID

Connector ID (`connector.id` in the resource): `authenticIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/authenticIdConnector.tf") }}


## Authomize API

Connector ID (`connector.id` in the resource): `connector-oai-authomizeapireference`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-authomizeapireference.tf") }}


## Authomize Incident Connector

Connector ID (`connector.id` in the resource): `connectorAuthomize`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorAuthomize.tf") }}


## Azure AD User Management

Connector ID (`connector.id` in the resource): `azureUserManagementConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/azureUserManagementConnector.tf") }}


## Babel Street

Connector ID (`connector.id` in the resource): `babelStreetConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/babelStreetConnector.tf") }}


## Badge

Connector ID (`connector.id` in the resource): `connectorBadge`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorBadge.tf") }}


## BambooHR

Connector ID (`connector.id` in the resource): `bambooConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/bambooConnector.tf") }}


## Berbix

Connector ID (`connector.id` in the resource): `connectorBerbix`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorBerbix.tf") }}


## Beyond Identity

Connector ID (`connector.id` in the resource): `connectorBeyondIdentity`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorBeyondIdentity.tf") }}


## BeyondTrust - Password Safe

Connector ID (`connector.id` in the resource): `connectorBTps`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorBTps.tf") }}


## BeyondTrust - Privileged Remote Access

Connector ID (`connector.id` in the resource): `connectorBTpra`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorBTpra.tf") }}


## BeyondTrust - Remote Support

Connector ID (`connector.id` in the resource): `connectorBTrs`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorBTrs.tf") }}


## BioCatch

Connector ID (`connector.id` in the resource): `biocatchConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/biocatchConnector.tf") }}


## Bitbucket Login

Connector ID (`connector.id` in the resource): `bitbucketIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/bitbucketIdpConnector.tf") }}


## CASTLE

Connector ID (`connector.id` in the resource): `castleConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/castleConnector.tf") }}


## CLEAR

Connector ID (`connector.id` in the resource): `connectorClear`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorClear.tf") }}


## Challenge

Connector ID (`connector.id` in the resource): `challengeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/challengeConnector.tf") }}


## Circle Access

Connector ID (`connector.id` in the resource): `connectorCircleAccess`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorCircleAccess.tf") }}


## Clearbit

Connector ID (`connector.id` in the resource): `connectorClearbit`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorClearbit.tf") }}


## Cloudflare

Connector ID (`connector.id` in the resource): `connectorCloudflare`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorCloudflare.tf") }}


## Code Snippet

Connector ID (`connector.id` in the resource): `codeSnippetConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/codeSnippetConnector.tf") }}


## Comply Advantage

Connector ID (`connector.id` in the resource): `complyAdvatangeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/complyAdvatangeConnector.tf") }}


## ConnectID

Connector ID (`connector.id` in the resource): `connectIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectIdConnector.tf") }}


## Constella

Connector ID (`connector.id` in the resource): `constellaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/constellaConnector.tf") }}


## Cookie

Connector ID (`connector.id` in the resource): `cookieConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/cookieConnector.tf") }}


## Copper API

Connector ID (`connector.id` in the resource): `connector-oai-copperdeveloperapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-copperdeveloperapi.tf") }}


## Credova

Connector ID (`connector.id` in the resource): `credovaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/credovaConnector.tf") }}


## CrowdStrike

Connector ID (`connector.id` in the resource): `crowdStrikeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/crowdStrikeConnector.tf") }}


## Daon IDV

Connector ID (`connector.id` in the resource): `connectorDaonidv`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorDaonidv.tf") }}


## Daon IdentityX

Connector ID (`connector.id` in the resource): `daonConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/daonConnector.tf") }}


## Data Zoo

Connector ID (`connector.id` in the resource): `dataZooConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/dataZooConnector.tf") }}


## Datadog API

Connector ID (`connector.id` in the resource): `connector-oai-datadogapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-datadogapi.tf") }}


## DeBounce

Connector ID (`connector.id` in the resource): `connectorDeBounce`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorDeBounce.tf") }}


## Device Policy

Connector ID (`connector.id` in the resource): `devicePolicyConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/devicePolicyConnector.tf") }}


## DigiLocker

Connector ID (`connector.id` in the resource): `digilockerConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/digilockerConnector.tf") }}


## Digidentity

Connector ID (`connector.id` in the resource): `digidentityConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/digidentityConnector.tf") }}


## Druva inSync Cloud API

Connector ID (`connector.id` in the resource): `connector-oai-druvainsynccloud`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-druvainsynccloud.tf") }}


## Duo

Connector ID (`connector.id` in the resource): `duoConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/duoConnector.tf") }}


## Entrust

Connector ID (`connector.id` in the resource): `entrustConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/entrustConnector.tf") }}


## Equifax

Connector ID (`connector.id` in the resource): `equifaxConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/equifaxConnector.tf") }}


## Error Message

Connector ID (`connector.id` in the resource): `errorConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/errorConnector.tf") }}


## FAPI Baseline (mTLS)

Connector ID (`connector.id` in the resource): `fapiConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/fapiConnector.tf") }}


## Facebook Login

Connector ID (`connector.id` in the resource): `facebookIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/facebookIdpConnector.tf") }}


## Fingerprint JS

Connector ID (`connector.id` in the resource): `fingerprintjsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/fingerprintjsConnector.tf") }}


## Finicity

Connector ID (`connector.id` in the resource): `finicityConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/finicityConnector.tf") }}


## Flow Analytics

Connector ID (`connector.id` in the resource): `analyticsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/analyticsConnector.tf") }}


## Flow Conductor

Connector ID (`connector.id` in the resource): `flowConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/flowConnector.tf") }}


## Form

Connector ID (`connector.id` in the resource): `pingOneFormsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneFormsConnector.tf") }}


## Forter

Connector ID (`connector.id` in the resource): `forterConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/forterConnector.tf") }}


## Freshdesk

Connector ID (`connector.id` in the resource): `connectorFreshdesk`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorFreshdesk.tf") }}


## Freshservice

Connector ID (`connector.id` in the resource): `connectorFreshservice`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorFreshservice.tf") }}


## Functions

Connector ID (`connector.id` in the resource): `functionsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/functionsConnector.tf") }}


## GBG

Connector ID (`connector.id` in the resource): `gbgConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/gbgConnector.tf") }}


## GitHub API

Connector ID (`connector.id` in the resource): `connector-oai-github`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-github.tf") }}


## GitHub Login

Connector ID (`connector.id` in the resource): `githubIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/githubIdpConnector.tf") }}


## Google Chrome Enterprise Device Trust

Connector ID (`connector.id` in the resource): `connectorGoogleChromeEnterprise`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorGoogleChromeEnterprise.tf") }}


## Google Login

Connector ID (`connector.id` in the resource): `googleConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/googleConnector.tf") }}


## Google Workspace Admin

Connector ID (`connector.id` in the resource): `googleWorkSpaceAdminConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/googleWorkSpaceAdminConnector.tf") }}


## HTTP

Connector ID (`connector.id` in the resource): `httpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/httpConnector.tf") }}


## HUMAN

Connector ID (`connector.id` in the resource): `humanCompromisedConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/humanCompromisedConnector.tf") }}


## HYPR

Connector ID (`connector.id` in the resource): `hyprConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/hyprConnector.tf") }}


## HYPR Adapt

Connector ID (`connector.id` in the resource): `connectorHyprAdapt`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorHyprAdapt.tf") }}


## Have I Been Pwned

Connector ID (`connector.id` in the resource): `haveIBeenPwnedConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/haveIBeenPwnedConnector.tf") }}


## Hellō Connector

Connector ID (`connector.id` in the resource): `connectorHello`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorHello.tf") }}


## HubSpot Companies API

Connector ID (`connector.id` in the resource): `connector-oai-hubspotcompanies`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-hubspotcompanies.tf") }}


## Hubspot

Connector ID (`connector.id` in the resource): `connectorHubspot`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorHubspot.tf") }}


## ID DataWeb

Connector ID (`connector.id` in the resource): `idDatawebConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idDatawebConnector.tf") }}


## ID R&D

Connector ID (`connector.id` in the resource): `idranddConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idranddConnector.tf") }}


## ID.me

Connector ID (`connector.id` in the resource): `idMeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idMeConnector.tf") }}


## ID.me - Community Verification

Connector ID (`connector.id` in the resource): `idmecommunityConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idmecommunityConnector.tf") }}


## ID.me - Identity Verification

Connector ID (`connector.id` in the resource): `connectorIdMeIdentity`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIdMeIdentity.tf") }}


## IDEMIA

Connector ID (`connector.id` in the resource): `idemiaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idemiaConnector.tf") }}


## IDI Data

Connector ID (`connector.id` in the resource): `skPeopleIntelligenceConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/skPeopleIntelligenceConnector.tf") }}


## IDI coreIDENTITY

Connector ID (`connector.id` in the resource): `connectorIdiVERIFIED`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIdiVERIFIED.tf") }}


## IDmelon

Connector ID (`connector.id` in the resource): `connectorIdmelon`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIdmelon.tf") }}


## IDmission - OIDC

Connector ID (`connector.id` in the resource): `idmissionOidcConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idmissionOidcConnector.tf") }}


## IdRamp

Connector ID (`connector.id` in the resource): `idrampOidcConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/idrampOidcConnector.tf") }}


## Ideem

Connector ID (`connector.id` in the resource): `ideemConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/ideemConnector.tf") }}


## Image

Connector ID (`connector.id` in the resource): `imageConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/imageConnector.tf") }}


## Incode

Connector ID (`connector.id` in the resource): `incodeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/incodeConnector.tf") }}


## Infinipoint

Connector ID (`connector.id` in the resource): `connectorInfinipoint`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorInfinipoint.tf") }}


## Intellicheck

Connector ID (`connector.id` in the resource): `intellicheckConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/intellicheckConnector.tf") }}


## Island

Connector ID (`connector.id` in the resource): `connectorIsland`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIsland.tf") }}


## Jamf

Connector ID (`connector.id` in the resource): `connectorJamf`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorJamf.tf") }}


## Jira

Connector ID (`connector.id` in the resource): `jiraConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/jiraConnector.tf") }}


## Jira Service Desk

Connector ID (`connector.id` in the resource): `connectorJiraServiceDesk`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorJiraServiceDesk.tf") }}


## Jumio

Connector ID (`connector.id` in the resource): `jumioConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/jumioConnector.tf") }}


## KBA

Connector ID (`connector.id` in the resource): `kbaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/kbaConnector.tf") }}


## KF Kerberos Connector

Connector ID (`connector.id` in the resource): `kfKerberosConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/kfKerberosConnector.tf") }}


## KYXStart

Connector ID (`connector.id` in the resource): `kyxstartConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/kyxstartConnector.tf") }}


## Kaizen Secure Voiz

Connector ID (`connector.id` in the resource): `kaizenVoizConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/kaizenVoizConnector.tf") }}


## Keyless

Connector ID (`connector.id` in the resource): `connectorKeyless`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorKeyless.tf") }}


## Keyri QR Login

Connector ID (`connector.id` in the resource): `connectorKeyri`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorKeyri.tf") }}


## LDAP

Connector ID (`connector.id` in the resource): `pingOneLDAPConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneLDAPConnector.tf") }}


## LaunchDarkly API

Connector ID (`connector.id` in the resource): `connector-oai-launchdarklyrestapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-launchdarklyrestapi.tf") }}


## LexisNexis

Connector ID (`connector.id` in the resource): `lexisnexisV2Connector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/lexisnexisV2Connector.tf") }}


## LinkedIn Login

Connector ID (`connector.id` in the resource): `linkedInConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/linkedInConnector.tf") }}


## Location Policy

Connector ID (`connector.id` in the resource): `locationPolicyConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/locationPolicyConnector.tf") }}


## Mailchimp

Connector ID (`connector.id` in the resource): `connectorMailchimp`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorMailchimp.tf") }}


## Mailgun

Connector ID (`connector.id` in the resource): `connectorMailgun`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorMailgun.tf") }}


## Mailjet API

Connector ID (`connector.id` in the resource): `connector-oai-mailjetapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-mailjetapi.tf") }}


## Melissa Global Address

Connector ID (`connector.id` in the resource): `melissaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/melissaConnector.tf") }}


## Microsoft Defender for Endpoint

Connector ID (`connector.id` in the resource): `microsoftDefenderConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/microsoftDefenderConnector.tf") }}


## Microsoft Dynamics - Customer Insights

Connector ID (`connector.id` in the resource): `microsoftDynamicsCustomerInsightsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/microsoftDynamicsCustomerInsightsConnector.tf") }}


## Microsoft Edge for Business

Connector ID (`connector.id` in the resource): `connectorMicrosoftEdge`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorMicrosoftEdge.tf") }}


## Microsoft Intune

Connector ID (`connector.id` in the resource): `connectorMicrosoftIntune`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorMicrosoftIntune.tf") }}


## Microsoft Login

Connector ID (`connector.id` in the resource): `microsoftIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/microsoftIdpConnector.tf") }}


## Microsoft Teams

Connector ID (`connector.id` in the resource): `microsoftTeamsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/microsoftTeamsConnector.tf") }}


## Mitek

Connector ID (`connector.id` in the resource): `mitekConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/mitekConnector.tf") }}


## NuData Security

Connector ID (`connector.id` in the resource): `nudataConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/nudataConnector.tf") }}


## Nuance

Connector ID (`connector.id` in the resource): `nuanceConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/nuanceConnector.tf") }}


## OIDC & OAuth IdP

Connector ID (`connector.id` in the resource): `genericConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/genericConnector.tf") }}


## OPSWAT MetaAccess

Connector ID (`connector.id` in the resource): `connectorOpswat`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorOpswat.tf") }}


## OneTrust

Connector ID (`connector.id` in the resource): `oneTrustConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/oneTrustConnector.tf") }}


## Onfido

Connector ID (`connector.id` in the resource): `onfidoConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/onfidoConnector.tf") }}


## PaloAlto Prisma Connector

Connector ID (`connector.id` in the resource): `connectorPaloAltoPrisma`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorPaloAltoPrisma.tf") }}


## PingAccess Administration

Connector ID (`connector.id` in the resource): `connector-oai-pingaccessadministrativeapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-pingaccessadministrativeapi.tf") }}


## PingFederate

Connector ID (`connector.id` in the resource): `pingFederateConnectorV2`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingFederateConnectorV2.tf") }}


## PingFederate Administration

Connector ID (`connector.id` in the resource): `connector-oai-pfadminapi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-pfadminapi.tf") }}


## PingID

Connector ID (`connector.id` in the resource): `pingIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingIdConnector.tf") }}


## PingOne

Connector ID (`connector.id` in the resource): `pingOneSSOConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneSSOConnector.tf") }}


## PingOne Advanced Identity Cloud Access Request

Connector ID (`connector.id` in the resource): `accessRequestConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/accessRequestConnector.tf") }}


## PingOne Advanced Identity Cloud Login Connector

Connector ID (`connector.id` in the resource): `pingoneAdvancedIdentityCloudLoginConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingoneAdvancedIdentityCloudLoginConnector.tf") }}


## PingOne Authentication

Connector ID (`connector.id` in the resource): `pingOneAuthenticationConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneAuthenticationConnector.tf") }}


## PingOne Authorize

Connector ID (`connector.id` in the resource): `pingOneAuthorizeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneAuthorizeConnector.tf") }}


## PingOne Authorize - API Access Management

Connector ID (`connector.id` in the resource): `pingauthadapter`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingauthadapter.tf") }}


## PingOne Credentials

Connector ID (`connector.id` in the resource): `pingOneCredentialsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneCredentialsConnector.tf") }}


## PingOne MFA

Connector ID (`connector.id` in the resource): `pingOneMfaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneMfaConnector.tf") }}


## PingOne Notifications

Connector ID (`connector.id` in the resource): `notificationsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/notificationsConnector.tf") }}


## PingOne Protect

Connector ID (`connector.id` in the resource): `pingOneRiskConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneRiskConnector.tf") }}


## PingOne RADIUS Gateway

Connector ID (`connector.id` in the resource): `pingOneIntegrationsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneIntegrationsConnector.tf") }}


## PingOne Scope Consent

Connector ID (`connector.id` in the resource): `pingOneScopeConsentConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneScopeConsentConnector.tf") }}


## PingOne Verify

Connector ID (`connector.id` in the resource): `pingOneVerifyConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/pingOneVerifyConnector.tf") }}


## Private ID

Connector ID (`connector.id` in the resource): `privateidConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/privateidConnector.tf") }}


## Prove

Connector ID (`connector.id` in the resource): `payfoneConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/payfoneConnector.tf") }}


## Prove International

Connector ID (`connector.id` in the resource): `proveConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/proveConnector.tf") }}


## RSA

Connector ID (`connector.id` in the resource): `rsaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/rsaConnector.tf") }}


## ReadID by Inverid

Connector ID (`connector.id` in the resource): `inveridConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/inveridConnector.tf") }}


## SAML

Connector ID (`connector.id` in the resource): `samlConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/samlConnector.tf") }}


## SAML IdP

Connector ID (`connector.id` in the resource): `samlIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/samlIdpConnector.tf") }}


## SAP Identity API

Connector ID (`connector.id` in the resource): `connector-oai-sapidentityapis`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-sapidentityapis.tf") }}


## SEON

Connector ID (`connector.id` in the resource): `seonConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/seonConnector.tf") }}


## SMTP Client

Connector ID (`connector.id` in the resource): `smtpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/smtpConnector.tf") }}


## SailPoint IdentityNow

Connector ID (`connector.id` in the resource): `connectorIdentityNow`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIdentityNow.tf") }}


## Salesforce

Connector ID (`connector.id` in the resource): `salesforceConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/salesforceConnector.tf") }}


## Salesforce Marketing Cloud (BETA)

Connector ID (`connector.id` in the resource): `connectorSalesforceMarketingCloud`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSalesforceMarketingCloud.tf") }}


## Saviynt Connector Flows

Connector ID (`connector.id` in the resource): `connectorSaviyntFlow`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSaviyntFlow.tf") }}


## ScrambleID

Connector ID (`connector.id` in the resource): `scrambleIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/scrambleIdConnector.tf") }}


## Screen

Connector ID (`connector.id` in the resource): `screenConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/screenConnector.tf") }}


## Secret Double Octopus

Connector ID (`connector.id` in the resource): `secretDoubleOctopusConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/secretDoubleOctopusConnector.tf") }}


## SecurID

Connector ID (`connector.id` in the resource): `securIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/securIdConnector.tf") }}


## Securonix

Connector ID (`connector.id` in the resource): `connectorSecuronix`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSecuronix.tf") }}


## Segment

Connector ID (`connector.id` in the resource): `connectorSegment`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSegment.tf") }}


## SentiLink

Connector ID (`connector.id` in the resource): `sentilinkConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/sentilinkConnector.tf") }}


## ServiceNow

Connector ID (`connector.id` in the resource): `servicenowConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/servicenowConnector.tf") }}


## Shopify Connector

Connector ID (`connector.id` in the resource): `connectorShopify`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorShopify.tf") }}


## Sift

Connector ID (`connector.id` in the resource): `siftConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/siftConnector.tf") }}


## Signicat

Connector ID (`connector.id` in the resource): `connectorSignicat`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSignicat.tf") }}


## Silverfort

Connector ID (`connector.id` in the resource): `silverfortConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/silverfortConnector.tf") }}


## Sinch

Connector ID (`connector.id` in the resource): `sinchConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/sinchConnector.tf") }}


## Singpass Login

Connector ID (`connector.id` in the resource): `singpassLoginConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/singpassLoginConnector.tf") }}


## Slack Login

Connector ID (`connector.id` in the resource): `slackConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/slackConnector.tf") }}


## Smarty Address Validator

Connector ID (`connector.id` in the resource): `connectorSmarty`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSmarty.tf") }}


## Socure

Connector ID (`connector.id` in the resource): `socureConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/socureConnector.tf") }}


## Splunk

Connector ID (`connector.id` in the resource): `splunkConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/splunkConnector.tf") }}


## Spotify

Connector ID (`connector.id` in the resource): `connectorSpotify`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSpotify.tf") }}


## SpyCloud Enterprise Protection

Connector ID (`connector.id` in the resource): `connectorSpycloud`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSpycloud.tf") }}


## String

Connector ID (`connector.id` in the resource): `stringsConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/stringsConnector.tf") }}


## Symantec VIP

Connector ID (`connector.id` in the resource): `symc`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/symc.tf") }}


## TMT Analysis

Connector ID (`connector.id` in the resource): `tmtConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/tmtConnector.tf") }}


## Tableau

Connector ID (`connector.id` in the resource): `connectorTableau`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorTableau.tf") }}


## Talend Identities Management API

Connector ID (`connector.id` in the resource): `connector-oai-talendim`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-talendim.tf") }}


## Talend SCIM API

Connector ID (`connector.id` in the resource): `connector-oai-talendscim`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-talendscim.tf") }}


## Teleport

Connector ID (`connector.id` in the resource): `nodeConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/nodeConnector.tf") }}


## Telesign

Connector ID (`connector.id` in the resource): `telesignConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/telesignConnector.tf") }}


## Token Management

Connector ID (`connector.id` in the resource): `skOpenIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/skOpenIdConnector.tf") }}


## TransUnion TLOxp

Connector ID (`connector.id` in the resource): `tutloxpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/tutloxpConnector.tf") }}


## TransUnion TruValidate

Connector ID (`connector.id` in the resource): `transunionConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/transunionConnector.tf") }}


## Treasure Data

Connector ID (`connector.id` in the resource): `treasureDataConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/treasureDataConnector.tf") }}


## Trulioo

Connector ID (`connector.id` in the resource): `connectorTrulioo`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorTrulioo.tf") }}


## Twilio

Connector ID (`connector.id` in the resource): `twilioConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/twilioConnector.tf") }}


## TypingDNA

Connector ID (`connector.id` in the resource): `typingdnaConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/typingdnaConnector.tf") }}


## UnifyID

Connector ID (`connector.id` in the resource): `unifyIdConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/unifyIdConnector.tf") }}


## User Policy

Connector ID (`connector.id` in the resource): `userPolicyConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/userPolicyConnector.tf") }}


## User Pool

Connector ID (`connector.id` in the resource): `skUserPool`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/skUserPool.tf") }}


## ValidSoft

Connector ID (`connector.id` in the resource): `connectorValidsoft`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorValidsoft.tf") }}


## Variable

Connector ID (`connector.id` in the resource): `variablesConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/variablesConnector.tf") }}


## Venafi Account Service API

Connector ID (`connector.id` in the resource): `connector-oai-venafi`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector-oai-venafi.tf") }}


## Vericlouds

Connector ID (`connector.id` in the resource): `connectorVericlouds`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorVericlouds.tf") }}


## Veriff

Connector ID (`connector.id` in the resource): `veriffConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/veriffConnector.tf") }}


## Verosint

Connector ID (`connector.id` in the resource): `connector443id`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connector443id.tf") }}


## Vidos

Connector ID (`connector.id` in the resource): `mailchainConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/mailchainConnector.tf") }}


## Webhook

Connector ID (`connector.id` in the resource): `webhookConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/webhookConnector.tf") }}


## WhatsApp for Business

Connector ID (`connector.id` in the resource): `connectorWhatsAppBusiness`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorWhatsAppBusiness.tf") }}


## WinMagic

Connector ID (`connector.id` in the resource): `connectorWinmagic`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorWinmagic.tf") }}


## WireWheel

Connector ID (`connector.id` in the resource): `wireWheelConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/wireWheelConnector.tf") }}


## X Login

Connector ID (`connector.id` in the resource): `twitterIdpConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/twitterIdpConnector.tf") }}


## Yoti

Connector ID (`connector.id` in the resource): `yotiConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/yotiConnector.tf") }}


## Zendesk

Connector ID (`connector.id` in the resource): `connectorZendesk`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorZendesk.tf") }}


## Zoop.one

Connector ID (`connector.id` in the resource): `zoopConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/zoopConnector.tf") }}


## Zscaler ZIA

Connector ID (`connector.id` in the resource): `connectorZscaler`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorZscaler.tf") }}


## iProov API

Connector ID (`connector.id` in the resource): `iproovV2Connector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/iproovV2Connector.tf") }}


## iProov OIDC

Connector ID (`connector.id` in the resource): `connectorSvipe`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorSvipe.tf") }}


## iovation

Connector ID (`connector.id` in the resource): `iovationConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/iovationConnector.tf") }}


## ipgeolocation.io

Connector ID (`connector.id` in the resource): `connectorIPGeolocationio`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIPGeolocationio.tf") }}


## ipregistry

Connector ID (`connector.id` in the resource): `connectorIPregistry`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIPregistry.tf") }}


## ipstack

Connector ID (`connector.id` in the resource): `connectorIPStack`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorIPStack.tf") }}


## mParticle

Connector ID (`connector.id` in the resource): `mparticleConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/mparticleConnector.tf") }}


## neoEYED

Connector ID (`connector.id` in the resource): `neoeyedConnector`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/neoeyedConnector.tf") }}


## randomuser.me

Connector ID (`connector.id` in the resource): `connectorRandomUserMe`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorRandomUserMe.tf") }}


## tru.ID

Connector ID (`connector.id` in the resource): `connectorTruid`

*No properties*


Example:
{{ tffile (printf "%s" "examples/davinci-connector-instances/connectorTruid.tf") }}

